# Understanding Python
Here I am listing my understandings in python for Data Science Stuff.

Python is a high level, interpretable language.

Build in keywords at a glance:
- `in` operator, returns boolean, can be used to find an object in list. For eg, char in string.
- `True` and `False` are constants to hold boolean values.
- `not and or` used for boolean operations.
- `if elif else` conditional statements.
- `map lambda apply`
- `for range break continue while with` iterating words.
- `file open quit`
- `try catch raise`

> We can use `else` with `for`. like for this do this else this.

**Data Types**
- `str` string class, has many string methods, alos converts other data type to sting.
- `int` integer data type class, also converts variable passed to integer.
- `float` float class, has functions to work on decimal numbers.
- `chr` converts integer to string.
- `bool` boolean class, converts to boolean.

**Data Structures**
- `list` class for DS list or array. has many functions related to list operations.
- `dict` class for DS dictionaries, has functions like .keys, .values etc.
- `tuple` class for DS tuple, has function index and count.Value cannot be changed
- `set`class for DS set. Has unique values. Defined in {}.

**Functions**
- `def` to define a new function. def my_func(a=5, \*numbers, \**keywords):
- `type` method, returns string, type of a variable.
- `len` method, returns int, length of object passed. For eg, `len(s1)` length of string
- `max` and `min` works on list, string etc.
- `sum` adds numbers in list.
- `sorted` sorts any list using a key. default is alpanum.
- `file` is a class for file operations. Obejct created when we open.

In [1]:
%history 
# Gives history of commands run in notebook

%history

**Run external commands**

% can be used to run linux commands from notebook. It is called magic commands. For eg, `%mkdir, %ls, %pwd` etc.

In [3]:
%run '~/code/py/life.py'

Life has Strength..!

**Variables and Data Structures**
- Built-in data types:
    - Integer, Floating point, String, Boolean Values, Date and Time
- Additional data structures:
    - Tuples
    - Lists
    - Dictionary
    - Sets

**Strings**
- A built in class `str` has many string related functions.
- String can be sliced using [:] operator. Starts from 0 and -1 from end. Also works in list or array.
- Operator `+` for concatenation and `*` for repetition.
- We can call `str.function(my_string)` or `my_string.function(args)`
- `len(s1)` length of string
- `in` operator can be used to find an object in list, char in string.

**Note:** See example below.

In [116]:
s1 = 'Vaibhav'
print (s1[4])   # prints char at 4th index
print (s1[:4])  # prints chars before 4th index, 4th index excluded.

# Same for -ve index
print (s1[-2])   # prints char at 2nd last index
print (s1[:-2])  # prints chars before 2nd last index, 2nd last index excluded.

print ( len(s1) ) # prints length, number of characters in string.

str.upper(s1)    # same as below 
s1.upper()       # same as above

strList = list(s1) # converts to list data type, array of each char in string
print (strList)

# Formatting
myFormat = '%.2f %% this as fraction, and string %s and value INR%d'
myFormat %(2,1,4.8) # takes 3 args, convers and prints as per definition.

h
Vaib
a
Vaibh
7
['V', 'a', 'i', 'b', 'h', 'a', 'v']

'2.00 % this as fraction, and string 1 and value INR4'

In [128]:
# find in string
'bh' in s1

True

In [136]:
type(float('23'))

float

**Lists**
- List is a built in data structure.
- They can hold list of any object.
- Can have mixed data types.
- Can hold list in list.
- declared in [], separated by ,
- it is similar to array, index works from 0 and -1 from end
- \* to repeat, + to concatenate, it combines lists to single list.
- has functions like, append, pop, remove, index etc.

In [149]:
a_list = ['amit', 'pranav', 'ramesh', 123, 22.4]
a_list.append(5)
print a_list

a_list.reverse() # reverses in place, returns nothing
print a_list

a_list.sort()
print (a_list)

['amit', 'pranav', 'ramesh', 123, 22.4, 5]
[5, 22.4, 123, 'ramesh', 'pranav', 'amit']
[5, 22.4, 123, 'amit', 'pranav', 'ramesh']

In [160]:
sorted('hello World 4')

[' ', ' ', '4', 'W', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r']

**Dictionary**
- A built in data structure
- Consists of key-value pair
- Key can be anything but mostly num or string
- values can be any object
- declared using {} and :
- accessed using key in []

In [177]:
my_dict = {
    'k1': 'value1',
    'k2': 'value2',
    'k3': 'value3'
}
my_dict.items() # returns list of tuples

print type(my_dict)
print type(my_dict.items())
print type(my_dict.items()[0])
print type(my_dict.items()[0][1])

<type 'dict'>
<type 'list'>
<type 'tuple'>
<type 'str'>

In [188]:
sorted(my_dict.values(), reverse=True)

['value3', 'value2', 'value1']

In [204]:
bool(1.2)

True

In [208]:
x**4

10000

In [212]:
True and not False

True

In [220]:
type(chr(97) )

str

In [228]:
sum(range(0,10)) # last, 10, is not included

45

**File Operations**
- `open` pass filename and mode to open file.

In [231]:
handle = open('./roedata.csv', 'r')
for line in handle:
    print (line)
handle.close()

Industry Name,Number of firms,ROE

Advertising,65,16.51%

Aerospace/Defense,95,21.60%

Air Transport,25,42.68%

Apparel,70,17.87%

Auto & Truck,26,22.05%

Auto Parts,75,17.54%

Bank,7,15.03%

Banks (Regional),721,9.52%

Beverage ,47,27.62%

Beverage (Alcoholic),19,18.28%

Biotechnology,349,6.77%

Broadcasting,30,74.10%

Brokerage & Investment Banking,49,9.25%

Building Materials,37,6.78%

Business & Consumer Services,179,12.48%

Cable TV,16,26.62%

Chemical (Basic),47,8.80%

Chemical (Diversified),10,24.33%

Chemical (Specialty),100,22.10%

Coal & Related Energy,45,-14.66%

Computer Services,129,39.46%

Computer Software,273,21.53%

Computers/Peripherals,66,24.55%

Construction,18,3.62%

Diversified,20,13.06%

Educational Services,40,-0.13%

Electrical Equipment,135,13.67%

Electronics,191,7.98%

Electronics (Consumer & Office),26,25.66%

Engineering,56,7.61%

Entertainment,85,17.45%

Environmental & Waste Services,108,8.28%

Farming/Agriculture,29,4.82%

Financial Svcs.,76,15.50%

Financial Svcs. (Non-bank & Insurance),17,6.45%

Food Processing,97,15.94%

Food Wholesalers,18,17.74%

Furn/Home Furnishings,36,12.99%

Healthcare Equipment,193,11.87%

Healthcare Facilities,47,26.29%

Healthcare Products,58,5.52%

Healthcare Services,126,13.14%

Heathcare Information and Technology,125,9.45%

Heavy Construction,46,22.00%

Homebuilding,32,32.64%

Hotel/Gaming,89,4.50%

Household Products,139,21.68%

Information Services,71,22.24%

Insurance (General),26,4.08%

Insurance (Life),27,6.08%

Insurance (Prop/Cas.),53,14.34%

Internet software and services,330,11.75%

Investment Co.,65,9.68%

Machinery,141,15.70%

Metals & Mining,134,6.26%

Office Equipment & Services,30,19.42%

Oil/Gas (Integrated),8,18.31%

Oil/Gas (Production and Exploration),411,6.74%

Oil/Gas Distribution,80,12.66%

Oilfield Svcs/Equip.,163,13.18%

Packaging & Container,24,15.61%

Paper/Forest Products,21,15.98%

Pharma & Drugs,138,19.71%

Power,106,8.70%

Precious Metals,166,-8.92%

Publshing & Newspapers,52,7.05%

R.E.I.T.,46,12.55%

Railroad,10,19.85%

Real Estate (Development),22,-4.29%

Real Estate (General/Diversified),11,1.02%

Real Estate (Operations & Services),47,19.84%

Recreation,70,18.03%

Reinsurance,3,6.05%

Restaurant,84,27.46%

Retail (Automotive),30,30.79%

Retail (Building Supply),7,23.12%

Retail (Distributors),87,12.92%

Retail (General),21,17.68%

Retail (Grocery and Food),21,10.91%

Retail (Internet),47,18.36%

Retail (Special Lines),137,17.29%

Rubber& Tires,4,45.41%

Semiconductor,104,13.14%

Semiconductor Equip,51,-1.21%

Shipbuilding & Marine,14,0.37%

Shoe,14,24.27%

Steel,37,-6.67%

Telecom (Wireless),28,-15.63%

Telecom. Equipment,131,15.67%

Telecom. Services,82,5.78%

Thrift,223,-79.47%

Tobacco,12,214.71%

Transportation,22,14.75%

Trucking,28,16.01%

Utility (General),20,7.34%

Utility (Water),20,9.95%

Total Market,7766,15.68%

In [232]:
type(handle)

file

In [233]:
handle.name

'./roedata.csv'

In [234]:
handle.mode

'r'

In [238]:
new_file = open('new.txt', 'w')

In [239]:
new_file.write('some text')

In [240]:
new_file.close()

In [241]:
%cat new.txt

some text